/** @format */

.card {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-around !important;
  background-color: #182131 !important;
  padding: 10px;
  @media screen and (max-width: 600px) {
    flex-direction: column !important;
  }
}
.info {
  max-width: 80%;
  padding-left: 10px;
  @media screen and (max-width: 600px) {
    max-width: 100%;
  }
}
.cardImg {
  padding-left: 50px;
  padding-right: 50px;
  @media screen and (max-width: 600px) {
    width: 100%;
    height: 500px;
    padding: 0px;
    margin-bottom: 30px;
  }
}
.imgSlider {
  @media screen and (max-width: 600px) {
    width: 100% !important;
    height: 100% !important;
  }
}
