/** @format */

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #182131;
  z-index: $z-fixed;
  @media screen and (max-width: 600px) {
    padding: 0px 0px;
    margin: 0px 0px;
  }
}
.headeri {
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (max-width: 600px) {
    padding: 0px 0px !important;
    margin: 0px 0px !important;
  }
}
.header2 {
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (max-width: 600px) {
    padding: 3px 3px !important;
    margin: 0px 0px !important;
  }
}
.navOptions {
  display: flex;
  justify-content: center;
  align-items: center;

  &-item {
    margin-left: 20px;
  }
  &-a {
    color: #fff !important;
    padding: 10px 10px;
    border-radius: 20px;
    // &:active {
    //   color: #fff !important;
    //   background-color: #fff;
    // }
  }
}
.inputSearch {
  background-color: #2b3442;
  border-width: 0;
  border-color: #2b3442;
  border-radius: 20px;
  color: #fff;
  padding-left: 20px;
  margin-left: 500px;
  @media screen and (max-width: 600px) {
    width: 150px;
    margin-left: -20px;
  }
}
.burger {
  display: none;
  @media screen and (max-width: 850px) {
    display: inline-block;
  }
}
.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
  @media screen and (max-width: 600px) {
    text-align: center;
  }
}
.navbar-dark .navbar-nav .nav-link {
  @media screen and (max-width: 600px) {
    text-align: center;
  }
}
.bg-dark {
  background-color: #182131 !important;
  color: #fff;
}
.navbar-toggler-icon {
  color: #fff;
}
.logoStyle {
  width: "100px";
  @media screen and (max-width: 600px) {
    width: 60px;
  }
}
