/** @format */

.movieDetails {
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 100vh;

  @media screen and (max-width: 850px) {
    flex-direction: column;
    height: 100%;
  }
  @media screen and (max-width: 420px) {
    flex-direction: column;
    height: 100%;
  }
}

.resumen {
  max-width: 60%;
  @media screen and (max-width: 850px) {
    max-width: 90%;
  }
}
